@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

@model Talagozis.AspNetCore.Models.ViewModels.ViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Semantic, Seo head -->
    <partial name="~/Views/Layout/Global/Head.cshtml" />

    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="manifest" href="~/manifest.json">
    <meta name="theme-color" content="#3ac3cb">

    <meta name="msapplication-TileColor" content="#3ac3cb">
    <meta name="msapplication-navbutton-color" content="#3ac3cb">
    <meta name="apple-mobile-web-app-status-bar-style" content="#3ac3cb">

    <meta name="google-site-verification" content="S1X7cY9BACeSAkVE-OOhvwmyAYzRrhFSO7OF1Lx0jvg" />

    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" />
        @*<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" />*@
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/main.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/default-color.manisa.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/manisa-icon.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/lightbox.min.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/slick.css" asp-append-version="true" />

        <link rel="stylesheet" type="text/css" href="~/css/home/custom.css" asp-append-version="true" />

        @RenderSection("css", true)
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" />
        @*<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" />*@
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/main.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/default-color.manisa.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/manisa-icon.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/lightbox.min.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/manisa/css/slick.css" asp-append-version="true" />

        <link rel="stylesheet" type="text/css" href="~/css/home/custom.css" asp-append-version="true" />

        @RenderSection("css", true)
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body style="overflow: auto;">
    <nav class="navbar navbar-inverse navbar-expand-lg @(Model.htmlHeader?.breadcrumps != null && Model.htmlHeader.breadcrumps.Any() ? "smooth" : string.Empty)">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 35px; letter-spacing: 1px; font-family: Bebas Neue; line-height: 30px;">
                    <span style="color: #3ac3cb;">CHRISTOS</span><span class="grey" style="color: #424242 ;">TALAGOZIS</span>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item strong">
                        <a asp-area="" asp-controller="Home" asp-action="CV">CV</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @if (Model.htmlHeader?.breadcrumps != null && Model.htmlHeader.breadcrumps.Any())
    {
        <nav class="breadcrumb" aria-label="breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    @foreach (var breadcrump in Model.htmlHeader.breadcrumps)
                    {
                        <li class="breadcrumb-item">
                            @if (!string.IsNullOrWhiteSpace(breadcrump.page))
                            {
                                <a asp-page="@breadcrump.page">@breadcrump.text</a>
                            }
                            else if (!string.IsNullOrWhiteSpace(breadcrump.plainSlug))
                            {
                                <a href="@breadcrump.plainSlug">@breadcrump.text</a>
                            }
                            else
                            {
                                <a asp-area="@breadcrump.area" asp-controller="@breadcrump.controller" asp-action="@breadcrump.action">@breadcrump.text</a>
                            }
                        </li>
                    }
                </ol>
            </div>
        </nav>
    }

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="text-center" style="border-top: solid #e2e2e2 1px;">
        @{ await Html.RenderPartialAsync("~/Views/Home/_footer.cshtml"); }
        @{ await Html.RenderPartialAsync("~/Views/Layout/Global/subfooter.cshtml"); }
    </footer>

    <!-- Global Loggers, Analytics etc etc -->
    @{ await Html.RenderPartialAsync("~/views/layout/global/js.cshtml"); }

    <environment names="Development">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script> -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        @RenderSection("js", true)
    </environment>
    <environment names="Staging,Production">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        @RenderSection("js", true)
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
