@using Talagozis.Website.Models.Cv
@using Piranha.Models
@using Talagozis.Website.Models

@inject Piranha.IApi Api

@{
    Layout = "~/Views/Layout/Home.cshtml";
}
@model List<Talagozis.Website.Models.BlogArchive>



@section css {
    <style>
        #particles-js {
            /* background-image: url("@ViewBag.pod"); */
            background-image: url("/images/cover.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 80%;
            height: 460px;
        }
        section.blog, section.educ, section.stat, section.contact {
            background-image: url('/images/pattern.jpg')
            background-size: auto;
        }
        section.header, section.blog, section.educ, section.stat, section.contact {
            width: auto;
        }
        .educ .education .title .infos-educ .info-timeline span {
            display: inline;
        }
        .infos-post .short-description-block a {
            color: #007bff;
        }
        .infos-post .short-description-block {
            font-size: 14px;
        }
        .educ .education .title .infos-educ .info-timeline span {
            letter-spacing: 0.4px;
        }
    </style>
    <link rel="stylesheet" href="~/lib/manisa/css/manisa-icon.css" />
    <link rel="stylesheet" href="http://manisa.bouthythemes.com/css/lightbox.min.css" />
    <link rel="stylesheet" href="http://manisa.bouthythemes.com/css/slick.css" />
}

@section js {
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="~/js/manisa.js"></script>
    <script src="http://manisa.bouthythemes.com/js/typed.js"></script>
    <script>
        particlesJS.load('particles-js', '/js/particlesjs-config.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
}

<section class="header row" style="background-image: none; height: auto;">
    <div class="col" id="particles-js" style="position: relative;">

        <div class="title">
            <h1>Hi! I am <span class="pattaya">Christos</span></h1>
            <div id="typed-strings">
                <p>
                    <span>Need some</span>
                    <strong>Magic?</strong>
                </p>
                <p>
                    <span>Need some</span>
                    <strong>Science?</strong>
                </p>
                <p>I can do both !</p>
            </div>
            <p id="typed" class="type"></p>
        </div>

    </div>
</section>

<section id="blog" class="blog text-center row" style="padding-bottom: 100px; margin-bottom: 0;">
    <div class="container">
        <div class="title">
            <h2 class="text-uppercase">Blog</h2>
        </div>
        <div class="row">
            @foreach (BlogPost post in (ViewBag.latestPosts as IEnumerable<BlogPost>).Take(3))
            {
                <div class="col-lg-4 col-md-12">
                    <div class="post">
                        <div class="category-post">
                            <a href="@((ViewBag.archives as List<BlogArchive>).Single(a => a.Id == post.BlogId).Slug)" target="_blank">
                                <span>
                                    @((ViewBag.archives as List<BlogArchive>).Single(a => a.Id == post.BlogId).Title)
                                </span>
                            </a>
                        </div>
                        <div class="img-post">
                            <a href="blog-post.html" target="_blank">
                                <img src="@Url.Content(post.Heading.PrimaryImage.Resize(Api, 334, 222))" class="img-fluid" alt="img-post">
                            </a>
                        </div>
                        <div class="infos-post">
                            <h3>
                                <a href="@post.Slug" target="_blank">@post.Title</a>
                            </h3>
                            <span>- @post.Published.Value.ToString("dd MMM yyyy") -</span>
                            <hr>
                            <div class="short-description-block">
                                @Html.Raw(post.Heading.shortDescription)
                            </div>
                        </div>
                        <div class="tags-post">
                            <i class="manisa-tag"></i>
                            <span>
                                @foreach (var tag in post.Tags)
                                {
                                    <a href="@tag.Slug" target="_blank">
                                        @tag.Title@(tag != post.Tags.Last() ? ", " : "")
                                    </a>
                                }
                            </span>

                        </div>
                        @*<div class="comments-post d-none d-sm-block">
                            <a href="#" target="_blank">
                                <span>220</span><i class="manisa-bubble"></i>
                            </a>
                        </div>*@
                    </div>
                </div>
            }

        </div>
        <a href="blog.html" target="_blank" class="btn-manisa">See More</a>
    </div>
</section>

