@using Talagozis.Website.Models.Cv
@using Piranha.Models
@using Talagozis.Website.Models

@inject Piranha.IApi Api

@{
    Layout = "~/Views/Layout/Home.cshtml";
}
@model List<Talagozis.Website.Models.BlogArchive>



@section css {
    <style>
        #particles-js {
            /* background-image: url("@ViewBag.pod"); */
            background-image: url("/images/cover.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 80%;
            height: 460px;
        }
        section.blog, section.educ, section.stat, section.contact {
            background-image: url('/images/pattern.jpg');
            background-size: auto;
        }
        section.header, section.blog, section.educ, section.stat, section.contact {
            width: auto;
        }
        .header-blog {
            margin-bottom: 0;
        }
    </style>
    <link rel="stylesheet" href="~/lib/manisa/css/manisa-icon.css" />
    <link rel="stylesheet" href="http://manisa.bouthythemes.com/css/lightbox.min.css" />
    <link rel="stylesheet" href="http://manisa.bouthythemes.com/css/slick.css" />
}

@section js {
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="~/js/manisa.js"></script>
    <script src="http://manisa.bouthythemes.com/js/typed.js"></script>
    <script>
        particlesJS.load('particles-js', '/js/particlesjs-config.json', function () {
            console.log('callback - particles.js config loaded');
        });
    </script>
}


<section class="header-blog row">
    <div class="overlay">
        <h1>The Blogs</h1>
    </div>
</section>

<section class="blog blog-page text-center active-nav row">

    <div class="container">
        <div class="row">

            @foreach (BlogArchive archive in Model)
            {
                <div class="col-lg-6 col-md-12">
                    <div class="post">
                        <div class="img-post">
                            <a href="@archive.Slug" style="display: block;">
                                <img src="@Url.Content(archive.Heading.PrimaryImage.Resize(Api, 334, 222))" class="img-fluid" alt="archive.Title" style="width: 100%;" />
                            </a>
                        </div>
                        <div class="infos-post">
                            <h3>
                                <a href="@archive.Slug">
                                    @archive.Title
                                </a>
                            </h3>
                            <!-- <span>- 30 sept 2017 -</span> -->
                            <hr>
                            <div>
                                @Html.Raw(archive.Heading.shortDescription)
                            </div>
                        </div>
                        <div class="comments-post d-none d-sm-block">
                            <a href="#" target="_blank">
                            <span>220</span><i class="manisa-bubble"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</section>
